/** @format */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

body {
  color: antiquewhite;
}

#game {
  padding: 3rem;
}
.displaynone {
  display: none;
}
.displayblock {
  display: block;
}

.container {
  display: none;
}

.choice-container {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0.2rem;
  background: #74b9ff;
  margin-bottom: 1rem;
}

.backCol {
  background: #74b9ff;
}

body.HoverBtn .choice-container:hover {
  background: #0984e3;
  transition: transform 0.3s;
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0rem 0rem 1rem rgba(194, 190, 250, 0.75);
}

.choice-prefix {
  padding: 0.5rem 1.5rem;
}

.choice-text {
  text-align: left;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.correct {
  background: linear-gradient(to right, #00b894 50%, #55efc4);
}

.incorrect {
  background: linear-gradient(to right, #d63031 50%, #ff7675);
}

#hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.hud-prefix {
  font-size: 1.5rem;
  text-align: center;
}

.hud-main-text {
  text-align: center;
  margin: 0;
}

#progressBar {
  width: 12.5rem;
  height: 1.5rem;
  border: 0.25rem solid #55efc4;
  border-radius: 2rem;
  overflow: hidden;
}

#progressBarfull {
  background: #55efc4;
  height: 100%;
  width: 0%;
}

.codeContainer {
  margin: 0 1rem 1rem 1rem;
  background: black;
  font-family: "Source Code Pro", monospace;
  border-radius: 0.5rem;
}

.padding {
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .boardContainer {
    grid-template-columns: repeat(2, auto);
  }
  .hud-prefix {
    font-size: 1.25rem;
  }
  #progressBar {
    width: 10rem;
    height: 1.25rem;
  }
  .choice-container {
    font-size: 1.25rem;
  }
  .codeContainer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .boardContainer {
    grid-template-columns: repeat(1, auto);
    /* display: flex;
    flex-direction: column; */
    grid-gap: 0;
  }
  .hud-prefix {
    font-size: 1rem;
  }
  #progressBar {
    width: 8rem;
    height: 1rem;
  }
  .choice-container {
    font-size: 1rem;
  }
  .codeContainer {
    font-size: 0.8rem;
  }
}
